body {
  background-color: #ffedda;
  font-family: "Roboto", sans-serif;
}

/* Pancake Stack Layout */
.page-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-body-main {
  display: flex;
  justify-content: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #3db2ff;
}

.navigation-buttons {
  display: flex;
  justify-content: right;
}
footer {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: #3db2ff;
  color: #ffffff;
  display: grid;
  place-items: center;
}

.created-by {
  font-size: 17px;
  font-weight: 300;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  color: #ffffff;
  font-weight: 100;
  padding: 20px;
  text-align: center;
  flex: 0 1 150px;
}

.title-bold,
.footer-details-bold {
  font-weight: 900;
  text-decoration: none;
  color: #ffffff;
}

.nav-button {
  width: 3em;
  height: 3em;
  padding: 1em;
  padding-top: 25px;
}

.creator-welcome {
  text-align: center;
}

/* home */
.book-shelf-girl {
  max-width: 100%;
}

.feature-img {
  width: 10em;
  height: 10em;
  border: 0.75em solid #ffb830;
}

.home-display {
  margin-top: 2em;
  padding: 2em;
  display: grid;
  grid-template-columns: 30em 15em 25em;
  width: 70em;
  height: 20em;
}

.home-summary {
  text-align: center;
  font-size: 1em;
}

.home-summary-first-paragraph {
  margin-bottom: 2em;
}

.home-summary-second-paragraph span {
  font-weight: 900;
}

.quiz-shelf-title {
  background-color: #ffb830;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.quiz-shelf-display,
.question-shelf-display,
.answer-options-display {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid black; */
}

.create-quiz-display,
.edit-quiz-display {
  display: grid;
  place-items: center;
  width: 70em;
  height: 20em;
}

.features-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70em;
  justify-items: center;
}

.features-display div {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  text-align: center;
}
.share-display,
.login-and-register-display {
  display: grid;
  width: 70em;
  min-height: 20em;
}

.login-and-register-display {
  grid-template-columns: 30em 10em 30em;
}

.track-display {
  width: 70em;
}

.respondent-list-and-email-title-container {
  display: grid;
  grid-template-columns: 25em 1fr;
  color: #3db2ff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 0.75em;
}

.track-results-subtitle-container,
.track-result-row-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #3db2ff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 0.75em;
  margin-bottom: 1em;
}

.track-result-row-container {
  font-weight: 300;
  font-size: 0.8em;
}

.number-of-respondents-container,
.quizzes-sent-container {
  text-decoration: none;
  color: #3db2ff;
}

.number-of-respondents-container:hover,
.quizzes-sent-container:hover {
  font-weight: 900;
}

.completion {
  color: black;
}

.add-question-display,
.quiz-taker-view-question-display,
.quiz-taker-view-end-game-display {
  display: grid;
  width: 70em;
  height: auto;
}

.share-container,
.share-quiz-container {
  border: 1px solid #3db2ff;
  flex: 0 1 400px;
  width: 35em;
  height: 20em;
  display: grid;
  /* place-items: center; */
}

.share-quiz-container {
  border: none;
}

/* .share-link-container {
  display: grid;
} */

.share-general-link {
  margin-top: 1em;
  color: #3db2ff;
  background-color: #d1e4f0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  padding: 1em;
  width: 30em;
  place-self: center;
}

.share-general-link span {
  font-weight: 500;
}
.quizzes-container {
  display: grid;
  border: 1px solid #3db2ff;
  flex: 0 1 400px;
  width: 35em;
  min-height: 20em;
}

.correct-answer-options,
.wrong-answer-options {
  display: grid;
  border: 1px solid #3db2ff;
  flex: 0 1 400px;
  width: 32em;
  min-height: 20em;
}

/* must revise  */
.questions-container,
.respondent-list-and-email-container {
  display: grid;
  border: none;
  width: 35em;
  height: 20em;
}
.single-quiz-title,
.single-question-title {
  font-size: 0.75em;
  padding: 0.5em;
}

.quizzes-container-name,
.questions-container-name,
.creator-welcome,
.create-quiz-label,
.edit-quiz-label,
.add-question-label,
.add-url-label,
.correct-answers-container,
.wrong-answers-container,
.quiz-taker-view-question,
.quiz-taker-view-question-label,
.login-and-register-form-title {
  color: #3db2ff;
  font-weight: 500;
  margin: 1em;
}

.correct-answers-container {
  color: #4caf50;
}
.wrong-answers-container {
  color: red;
}

.single-quiz-row-container,
.single-question-row-container {
  margin-top: 1rem;
}

.single-respondent-row-container {
  display: grid;
  margin-top: 0.5em;
  grid-template-columns: 25em 1fr;
}

.google-sign-in-container {
  display: grid;
  place-items: center;
}
.or-divider {
  padding-top: 2em;
  font-size: 2em;
  font-weight: 900;
  color: #3db2ff;
}
.login-form {
  display: grid;
}

.create-quiz-label {
  margin-bottom: 0;
}

.btn-create-quiz,
.btn-get-started {
  background-color: #ffb830;
  color: #ffffff;
  font-size: 1em;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  border: none;
}

.btn-get-started {
  margin-top: 2em;
}

.btn-add-correct-answer,
.btn-add-wrong-answer {
  background-color: #4caf50;
  color: #ffffff;
  font-size: 1em;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  border: none;
}

.btn-add-wrong-answer {
  background-color: #ff2442;
}

.btn-add-question {
  background-color: #ffb830;
  color: #ffffff;
  font-size: 1em;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  border: none;
}

.btn-create-quiz {
  place-self: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.btn-save-quiz,
.btn-save-question,
.btn-save-question,
.btn-savePlusAdd-question {
  background-color: #4caf50;
  color: #ffffff;
  font-size: 1.5em;
  padding: 0.5rem 2.5rem;
  border-radius: 25px;
  border: none;
}

.btn-login,
.btn-register {
  background-color: #4caf50;
  color: #ffffff;
  font-size: 1em;
  margin: 1em;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  border: none;
  place-self: center;
}

.btn-update-quiz {
  background-color: #f5841b;
  color: #ffffff;
  font-size: 1.5em;
  padding: 0.5rem 2.5rem;
  border-radius: 25px;
  border: none;
}

.btn-savePlusAdd-question {
  background-color: #3db2ff;
}

.btn-delete-quiz {
  background-color: #ff2442;
  color: #ffffff;
  font-size: 0.75em;
  padding: 0.25rem 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 25px;
  border: none;
}

.btn-edit-quiz {
  background-color: #f5841b;
  color: #ffffff;
  font-size: 0.75em;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  border-radius: 25px;
  border: none;
}

.btn-enter-correct-answer,
.btn-enter-wrong-answer {
  background-color: #4caf50;
  color: #ffffff;
  font-size: 0.75em;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  border: none;
  margin-left: 1em;
  margin-right: 1em;
}

.btn-enter-wrong-answer {
  background-color: #ff2442;
}

.btn-add-recipient {
  display: block;
  background-color: #3db2ff;
  color: #ffffff;
  font-size: 1em;
  padding: 0.25rem 1rem;
  margin-top: 1em;
  margin-right: 1rem;
  border-radius: 25px;
  border: none;
}
.create-quiz-title,
.edit-quiz-title,
.question-shelf-quiz-title {
  background-color: #f5841b;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.questions-count,
.share-display-quiz-title {
  font-size: 0.5em;
}

.create-quiz-title {
  margin-top: 2em;
  margin-bottom: 1em;
}

.add-question-title,
.quiz-taker-view-question-title,
.share-title-banner,
.login-and-register-banner {
  background-color: #3db2ff;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.create-quiz-title-input,
.edit-quiz-title-input {
  width: 35em;
  height: 2em;
  font-size: 1em;
}

.add-question-input,
.add-recipient-input,
.login-and-register-form-input {
  width: 66em;
  height: 4em;
  font-size: 1em;
  border: 1px solid #3db2ff;
  background-color: #cae3f3;
  color: #3db2ff;
  padding-left: 1em;
  padding-right: 1em;
}

.add-recipient-input {
  margin-top: 1em;
  width: 22em;
  height: 2em;
}

.login-and-register-form-input {
  margin-top: 1em;
  width: 15em;
  height: 2em;
}

.correct-answer-option-input,
.wrong-answer-option-input {
  width: 18em;
  height: 1em;
  font-size: 1em;
  border: 1px solid #3db2ff;
  background-color: #cae3f3;
  color: #3db2ff;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
}

.quiz-taker-single-answer-option,
.quiz-taker-single-answer-option-true,
.quiz-taker-single-answer-option-false {
  max-width: 15em;
  height: 1em;
  font-size: 1em;
  border: 1px solid #3db2ff;
  background-color: #cae3f3;
  color: #3db2ff;
  padding: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.quiz-taker-single-answer-option:hover {
  background-color: #f2f3ca;
}

.quiz-taker-single-answer-option-true {
  color: #4caf50;
  background-color: #b4e6b6;
  border: 1px solid #4caf50;
}

.quiz-taker-single-answer-option-false {
  color: #ff2442;
  background-color: #fab3bd;
  border: 1px solid #ff2442;
}

.quiz-taker-question-image {
  max-height: 10em;
  width: fit-content;
  justify-self: center;
}

.quiz-takeer-view-final-score {
  color: #3db2ff;
  font-size: 4em;
  font-weight: 500;
  justify-self: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.single-url-link {
  border: 1px solid #3db2ff;
  background-color: #cae3f3;
  font-size: 0.75em;
  padding: 0.5em;
  margin-left: 1em;
  height: 2em;
  width: fit-content;
}

.delete-respondent {
  margin-left: 1em;
}
