body {
  background-color: #ffedda;
  font-family: "Roboto", sans-serif;
}

/* Pancake Stack Layout */
.page-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page-body-main {
  display: flex;
  justify-content: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #3db2ff;
}

.navigation-buttons {
  display: flex;
  justify-content: right;
}
footer {
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: #3db2ff;
  color: #ffffff;
  display: grid;
  place-items: center;
}

.created-by {
  font-size: 17px;
  font-weight: 300;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  color: #ffffff;
  font-weight: 100;
  padding: 20px;
  text-align: center;
  flex: 0 1 150px;
}

.title-bold,
.footer-details-bold {
  font-weight: 900;
  text-decoration: none;
  color: #ffffff;
}

.nav-button {
  width: 3em;
  height: 3em;
  padding: 1em;
  padding-top: 25px;
}

.creator-welcome {
  text-align: center;
}
.quiz-shelf-title {
  background-color: #ffb830;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.quiz-shelf-display,
.question-shelf-display,
.answer-options-display {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid black; */
}

.create-quiz-display {
  display: grid;
  place-items: center;
  width: 70em;
  height: 20em;
}

.add-question-display {
  display: grid;
  width: 70em;
  height: auto;
}

.share-container,
.share-quiz-container {
  border: 1px solid #3db2ff;
  flex: 0 1 400px;
  width: 35em;
  height: 20em;
  display: grid;
  place-items: center;
}

.share-quiz-container {
  border: none;
}

.quizzes-container {
  display: grid;
  border: 1px solid #3db2ff;
  flex: 0 1 400px;
  width: 35em;
  height: 20em;
}

.correct-answer-options,
.wrong-answer-options {
  display: grid;
  border: 1px solid #3db2ff;
  flex: 0 1 400px;
  width: 32em;
  min-height: 20em;
}

/* must revise  */
.questions-container {
  display: grid;
  border: none;
  width: 35em;
  height: 20em;
}
.single-quiz-title,
.single-question-title {
  font-size: 0.75em;
  padding: 0.5em;
}

.quizzes-container-name,
.questions-container-name,
.creator-welcome,
.create-quiz-label,
.add-question-label,
.add-url-label,
.correct-answers-container,
.wrong-answers-container {
  color: #3db2ff;
  font-weight: 500;
  margin: 1em;
}

.correct-answers-container {
  color: #4caf50;
}
.wrong-answers-container {
  color: red;
}

.single-quiz-row-container,
.single-question-row-container {
  margin-top: 1rem;
}

.create-quiz-label {
  margin-bottom: 0;
}

.btn-create-quiz {
  background-color: #ffb830;
  color: #ffffff;
  font-size: 1em;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  border: none;
}

.btn-add-correct-answer {
  background-color: #4caf50;
  color: #ffffff;
  font-size: 1em;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  border: none;
}

.btn-add-question {
  background-color: #ffb830;
  color: #ffffff;
  font-size: 1em;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  border: none;
}

.btn-create-quiz {
  place-self: center;
}

.btn-save-quiz,
.btn-save-question,
.btn-save-question,
.btn-savePlusAdd-question {
  background-color: #4caf50;
  color: #ffffff;
  font-size: 1.5em;
  padding: 0.5rem 2.5rem;
  border-radius: 25px;
  border: none;
}

.btn-savePlusAdd-question {
  background-color: #3db2ff;
}

.btn-delete-quiz {
  background-color: #ff2442;
  color: #ffffff;
  font-size: 0.75em;
  padding: 0.25rem 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 25px;
  border: none;
}

.btn-edit-quiz {
  background-color: #f5841b;
  color: #ffffff;
  font-size: 0.75em;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  border-radius: 25px;
  border: none;
}

.create-quiz-title,
.question-shelf-quiz-title {
  background-color: #f5841b;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.questions-count {
  font-size: 0.5em;
}

.create-quiz-title {
  margin-top: 2em;
  margin-bottom: 1em;
}

.add-question-title {
  background-color: #3db2ff;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.create-quiz-title-input {
  width: 35em;
  height: 2em;
  font-size: 1em;
}

.add-question-input {
  width: 66em;
  height: 4em;
  font-size: 1em;
  border: 1px solid #3db2ff;
  background-color: #cae3f3;
  color: #3db2ff;
  padding-left: 1em;
  padding-right: 1em;
}

.correct-answer-option-input {
  width: 18em;
  height: 1em;
  font-size: 1em;
  border: 1px solid #3db2ff;
  background-color: #cae3f3;
  color: #3db2ff;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
}
