body {
  background-color: #ffedda;
  font-family: "Roboto", sans-serif;
}

/* Pancake Stack Layout */
.page-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3db2ff;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  color: #ffffff;
  font-weight: 100;
  padding: 20px;
  text-align: center;
  flex: 0 1 150px;
}

.title-bold {
  font-weight: 900;
}

.nav-button {
  width: 1em;
  height: 1em;
}

.quiz-shelf-title {
  background-color: #ffb830;
  color: #ffffff;
  font-size: 2em;
  padding: 0.5em;
  width: 80%;
}

.quiz-shelf-display {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  width: 80%;
}
.quizzes-container {
  border: 1px solid #3db2ff;
  flex: 0 1 400px;
}

.quizzes-container-name {
  color: #3db2ff;
  font-weight: 500;
  margin: 1em;
}

.btn-create-quiz {
  background-color: #ffb830;
  color: #ffffff;
  border-radius: 15px;
  border: none;
}
